{% autoescape off %}
    <div style="background-color:white;border:0.1px solid #000321;border-radius:10px 10px 0px 0px;padding:10px 14px;font-size: 15px;">
        <h2 style="color:#0f2988;text-transform:uppercase;margin-left:5px">Member Invite</h2>
        <p>Hello, {{name}} has invited you to join an ad team on adwatch </p>
        <p>Login in to your adwatch.ai account, click on Team Members and input the token below</p>
        <p><b>{{token}}</b>, this token expires after 24 hours.</p>
        <p>Register on adwatch.ai if you don't have an account yet.</p>
    </div>
{% endautoescape %}
